.previewSelector
{
  flex-direction: row;
  border-right-width: 1px;
}
.selectorContainer
{
  min-width: 20px;
  flex-direction: row;
  padding-left: 2px;
}

.selectorDropdown
{
  min-width: 16px;
  max-width: 16px;
}

.targetContainer
{
  margin-top: 4px;
  margin-left: 4px;
  flex-direction: row;
}

.gameObjectIcon
{
  max-height: 16px;
  max-width: 16px;
  min-width: 16px;
}
